[package]
name = "mpris-lyrics-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
opt-level = 3
strip = true
lto = "thin"
#debug = true
codegen-units = 1
#panic = "abort"

[dependencies]
toml = "0.8.12"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
mpris = "2.0.1"
reqwest = { version = "0.12.1", features = ["json"] }
base64 = "0.22.0"
openssl = "0.10.64"
rand = "0.9.0-alpha.1"
hex = "0.4.3"
xdg = "2.5.2"
regex = "1.10.4"
anyhow = "1.0.81"
async-trait = "0.1.79"
tokio = { version = "1.36.0", features = ["full"] }