[package]
name = "mpris-lyrics-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
opt-level = 3
strip = true
lto = "thin"
#debug = true
codegen-units = 1
panic = "abort"

[dependencies]
toml = "0.7.6"
serde = { version = "1.0.177", features = ["derive"] }
serde_json = "1.0.104"
mpris = "2.0.1"
reqwest = {version="0.11.18", features = ["blocking", "json"]}
base64 = "0.21.2"
openssl = "0.10.55"
rand = "0.8.5"
hex = "0.4.3"
xdg = "2.5.2"
regex = "1.9.1"
thiserror = "1.0.44"
